@import '../../styles/variables';
@import '../../styles/functions';

.about {
  @include flexSection;
  text-align: center;
  p {
    color: #aaa;
    margin-bottom: 1.2rem;
  }
  a {
    display: block;
    margin-top: 1rem;
    padding: 0.7rem 1rem;
  }
}
