@import '../../styles/variables';
@import '../../styles/functions';

.postsWrapper {
    @include flexCenterCol;
    .hasNoPosts {
      text-align: center;
      p {
        margin-bottom: 1rem;
      }
      a {
        padding: 0.8rem 1.5rem;
        width: 100%;
      }
    }

    .postHeader, .postRow {
       @include flexCenter(space-between);
       width: 80%;
       padding: .8rem;
    }

    .postHeader {
      font-weight: bold;
      border-bottom: 2px solid #ccc;
    }

    .postRow {
      align-items: center;
      border-bottom: 1px solid #eee;

      .dashboardBtns {
        display: flex;
        justify-content: center;
        gap: 2rem;
      }

      p {
        color: #111;
      }

    }

      
    h2 {
      text-align: center;
      font-size: 2rem;
      margin-bottom: .3rem;
    }

    p {
      text-align: center;
      color: #aaa;
      margin-bottom: .8rem;
    }

    
}
