@import '../../styles/variables';
@import '../../styles/functions';

.postDetail {
  margin-bottom: 1.5rem;
  .imgBox {
    width: 100%;
    @include flexCenter(center);
    padding: 1rem;
    box-shadow: 0 0 1px #ccc;
    &:hover {
      box-shadow: 1px 3px 15px #ccc;
    }
    img {
      max-width: pxToRem(600);
      max-height: 15rem;
    }
  }
  h2 {
    margin-bottom: 0.2rem;
  }
  .tags {
    margin-bottom: 0.8rem;
    display: flex;
    p {
      margin-right: 0.2rem;
    }
    span {
      font-weight: bold;
    }
    .createdBy {
      font-size: 0.8rem;
      font-style: italic;
      color: #444;
      margin-bottom: 0.6rem;
    }
  }
  a {
    margin: 0;
  }
}
