@import '../../styles/variables';
@import '../../styles/functions';

.navbar {
  @include flexCenter(space-between);
  box-shadow: #00000026 0 -2px 10px 0;
  padding: 0.5rem 2rem;
  .brand {
    font-size: 1.2rem;
    span {
      font-weight: 900;
      text-transform: uppercase;
    }
  }
  .links_list {
    display: flex;
    list-style: none;
    li {
      margin-right: 1rem;
      a {
        padding: 0.4rem 1rem;
      }
    }
    .active {
      color: #272343;
    }
    .signup {
      color: #f1fbfb;
      background: #272343;
      border: 1px solid #272343;
      border-radius: 0.3rem;
      &:hover {
        color: #272343;
        background: transparent;
      }
    }
  }
}
