@import '../../styles/variables';
@import '../../styles/functions';

.searchContainer {
  @include flexCenterCol;

  h2 {
    margin-bottom: 0.7rem;
    color: #1c1c1c;
  }

  p {
    margin-bottom: pxToRem(30);
    word-break: break-word;
    max-width: 30rem;
    line-height: 1.5;
  }

  .term {
    font-weight: bold;
    color: #272343;
  }

  .results {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 5rem;
  }
}