* {
  box-sizing: border-box;
}

body {
  background: #f6fcff;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

input::placeholder, textarea::placeholder {
  font-family: "Montserrat", sans-serif;
}

input:focus, textarea:focus {
  outline: none;
}

a, nav button {
  text-decoration: none;
  background: transparent;
  border: none;
  color: #111;
  transition: .4s;
  font-size: 1rem;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

a:hover, nav button:hover {
  color: #bbb;
}