.createPost {
  text-align: center;
  h2 {
    font-size: 1.5rem;
  }
  p {
    color: #aaa;
    margin: 1.5rem;
  }
  .titlePreview {
    margin-bottom: 1rem;
    color: #111;
    font-weight: bold;
  }
  .imagePreview {
    max-width: 100%;
    margin: 2rem 0;
    
  }
}
